@model DesignPattern.Template.TemplatePattern.StandartPlan
@{
    ViewData["Title"] = "StandartPlan";
}
<link rel="stylesheet" href="~/css/styles.css">
<div class="container">
    <div class="plan-card standart">
        <h1>@Model.PlanTypeValue Plan</h1>
        <p>Price: $@Model.PriceValue</p>
        <p>Resolution: @Model.ResolutionValue</p>
        <p>Max Users: @Model.CountPersonValue</p>
        <p>Contents: @Model.ContentsValue</p>
    </div>
    <div class="buttons">
        <a href="/Default/Index" class="btn btn-warning">Basic Plan</a>
        <a href="/Default/UltraPlan" class="btn btn-success">Premium Plan</a>
    </div>
</div>

