@model RegisterViewModel
@{
    ViewData["Title"] = "Index";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container">
    <form method="post">
        <label name="Name">Name</label>
        <input type="text" class="form-control" asp-for="Name" />
        <br>
        <label name="Surname">Surname</label>
        <input type="text" class="form-control" asp-for="Surname" />
        <br>
        <label name="City">City</label>
        <input type="text" class="form-control" asp-for="City" />
        <br>
        <label name="District">District</label>
        <input type="text" class="form-control" asp-for="District" />
        <br>
        <label name="Email">Email</label>
        <input type="email" class="form-control" asp-for="Email" />
        <br>
        <label name="Password">Password</label>
        <input type="password" class="form-control" asp-for="Password" />
        <br>
        <button class="btn btn-success">Register</button>
    </form>
</div>


