@using DesignPattern.Mediator.Mediators.Results
@model UpdateProductByIdQueryResult
@{
    ViewData["Title"] = "UpdateProduct";
}

<h1>UpdateProduct</h1>

<div class="container">
    <br />
    <form method="post" asp-action="UpdateProduct">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name"></label>
            <input type ="text" asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <input type="number" asp-for="Price" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Stock"></label>
            <input type="number" asp-for="Stock" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="StockType"></label>
            <input type="text" asp-for="StockType" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Type"></label>
            <input type="text" asp-for="Type" class="form-control" />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>

